{% comment %} File base for the website {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Mooli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'app/images/5c-logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/responsive.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <!-- index.html -->
    <script type="text/javascript" src="{% static 'app/js/utils.js' %}"></script>


    <script type="text/javascript">
        var user = '{{request.user}}';
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>

</head>
<body>
    {% comment %} Header site {% endcomment %}
    <header>
        <div class="header">
            <div class="nav grid">
                <div class="nav__logo">
                    <a href="{% url 'home' %}" class="logo-link">
                        <img class="logo-link__icon pc" src="{% static 'app/images/5c-logo.png' %}" alt="">
                        <h2 class="logo-link__heading">5C Mobile</h2>
                    </a>
                </div>

                <div class="nav__search">
                    <input id="search-input" class="search__input tablet pc" type="text" placeholder="Tìm kiếm sản phẩm bạn muốn mua tại đây">
                    <button id="search-button" type="button" class="search__btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <div class="nav__notify pc tablet">
                    <div class="nav__notify-icon">
                        <a href="{% url 'notifications' %}" class="nav__notify-link">
                            <i class="fa-regular fa-bell"></i>
                        </a>
                    </div>
                    <div class="wrapper">
                        <div>
                            <div style="background-image: url({% static 'app/images/icon-notify.png' %})" class="wrapper__icon"></div>
                            <h4 class="wrapper__heading">Bạn không có thông báo nào</h4>
                        </div>
                    </div>
                </div>
            
                <div class="nav__support pc tablet">
                    <a href="" class="nav__support-link">Hỗ trợ</a>
                </div>
            
                <div class="nav__cart pc tablet">
                    <a href="{% url 'cart' %}" class="nav__cart-link">
                        <i class="fa-solid fa-cart-shopping"><div class="nav__cart-quantity">{{cart.getCartItemsAmount}}</div></i>
                    </a>
                </div>
            
                <div class="nav__user">
                    <button type="button" id="sign-btn" class="sign-btn">Sign In</button>
                    <button type="button" id="user-btn" class="user-btn">
                        <img class="nav__user-avatar" src="{{request.user.profile.avatarURL}}">
                    </button>
            
                    <div id="user-form" class="user">
                        <div class="user__header">
                            <h4>Tài khoản</h4>
                            <div class="user__header-avatar">
                                <img src="{{request.user.profile.avatarURL}}" alt="Avatar">
                            </div>
                            <div class="user__header-info">
                                <div class="fullname">{{request.user.profile.fullname}}</div>
                                <div class="username">@{{request.user.username}}</div>
                            </div>
                        </div>
            
                        <div class="user__body">
                            <div class="wrapper">
                                <a href="{% url 'account' %}" class="wrapper__link">Thông tin tài khoản</a>
                                <a href="{% url 'order' %}" class="wrapper__link">Đơn hàng</a>
                                <a href="{% url 'notifications' %}" class="wrapper__link mobile tablet">Thông báo</a>
                                <a href="" class="wrapper__link mobile tablet">Hỗ trợ</a>
                                <a href="{% url 'cart' %}" class="wrapper__link mobile tablet">Giỏ hàng</a>
                            </div>
                            <button type="button" class="user__logout-btn">Đăng xuất</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% comment %} Form SignIn {% endcomment %}
    <div id="form-main" class="form-main">
        <div class="form">
            <div class="form__close-btn">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <div class="form__nav">
                <button type="button" class="form__nav-btn active">Đăng nhập</button>
                <button type="button" class="form__nav-btn">Đăng ký</button>
            </div>

            <div class="form__layer">

            </div>
        </div>
    </div>

    <div class="loadding">
        <div class="loadding-content"></div>
    </div>
    
    <script>    var staticURL = '{% static "" %}'; </script>
    <script src="{% static 'app/js/validator.js' %}"></script>
    <script src="{% static 'app/js/app.js' %}"></script>
    <script src="{% static 'app/js/search.js' %}"></script>

    {% block content %}{% endblock content %}
    
    {% block footer %}
        <footer class="footer">
            <div class="wrapper">
                <h2 class="heading">CONTACT US</h2>
                
                <div class="contact">
                    <div class="contact__info">
                        <ul style="list-style: none;">
                            <li><i class="fa-solid fa-location-dot"></i>Hà Nội</li>
                            <li><i class="fa fa-phone"></i>Phone: 0923361329</li>
                            <li><i class="fa fa-envelope"></i>Email: khanhhs11vtt@gmail.com</li>
                        </ul>
                    </div>

                    <div class="contact__form">
                        <div class="form__input"><input type="text" placeholder="Name" name="name"></div>
                        <div class="form__input"><input type="text" placeholder="Email" name="email"></div>
                        <div class="form__message"><input type="text" placeholder="Message" name="message"></div>
                        <button type="button" id="send-feedback" class="form__send-btn">SEND</button>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
    <div></div>
    <script src="{% static 'app/js/res.js' %}"></script>
    <script src="{% static 'app/js/feedback.js' %}"></script>
</body>
</html>